{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="login">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
        <div class="login-form">
            <h2>Логін</h2>
            <form method="POST">
                <label for="username">Ім'я користувача</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>

                <button class="login-submit" type="submit">Увійти</button>
            </form>

        </div>
        </div>
    </div>
</section>


{% endblock %}