{% extends 'base.html' %}

{% block title %} Add POST {% endblock %}

{% block content %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title() }}
            {% for error in form.title.errors %}
                <small>{{ error }}</small><br>
            {% endfor %}

        {{ form.content.label }} {{ form.content() }}
        {{ form.submit() }}
    </form>

    <a href="{{ url_for("posts.get_posts") }}">Return posts</a>

{% endblock %}