{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block header %}
    <header class="header">
        <h1>{{ title }}</h1>
        {% include 'components/navigation.html' %}
    </header>
{% endblock %}
{% block content %}
    <section class="about-me" id="about-me">
        <h2>Про мене</h2>
        <div class="content">
            <p>Мене звати Бабійчук Василь. Я навчаюся на 3 курсі Прикарпатського національного університету. Інтерес до програмування виник у мене ще з дитинства, коли вперше познайомився з комп'ютерами та можливостями, які вони відкривають. Відтоді моє захоплення розробкою лише зростало, і я поступово навчаюся створювати як невеличкі програми, так і цікаві проєкти.</p>
        </div>
    </section>
    <section class="my-education" id="my-education">
        <h2>Освіта</h2>
        <div class="content">
            <p>Як і вище зазначив, в даний час навчаюсь в ПНУ, закінчив 2 курси, а зараз навчаюсь на 3. За цей час познайомився з цікавиими людьми, з якими цікаво проводити час, та писати невеличкі проєкти. В універистеті відкрився безкоштовний доступ до платформи Udemy, на якій знайомився та вивчав різні технології для програмування.</p>
        </div>
    </section>
    <section class="my-skills" id="my-skills">
        <h2>Навички</h2>
        <div class="content">
            <p>За час навчання в університеті я опанував основи багатьох різноманітних технологій та мов програмування. Серед них – Python, JavaScript, C++, HTML і CSS для верстки, а також Java з використанням фреймворку Spring, PHP та інші. Хоча ці технології вивчалися в основному на базовому рівні, я отримав розуміння синтаксису та навчився створювати прості програми на кожній з цих мов.</p>
        
            <p>Незважаючи на широкий спектр навичок, для себе я обрав мову Python, у якій поглиблено вивчав синтаксис та розширені можливості. Я пройшов кілька курсів, присвячених Python, і вивчав тонкощі написання чистого та оптимізованого коду, і прагну розвиватися далі у напрямку Python та суміжних технологій.</p>
        
            <p>Загалом, моє навчання дало мені хороший старт для того, щоб впевнено орієнтуватися у світі програмування. Я постійно вдосконалюю свої навички, знайомлюся з новими інструментами та бібліотеками, щоб розширити можливості і працювати над більш складними проєктами в майбутньому.</p>
    </div>
        </div>
    </section>
    <section class="my-experience" id="my-experience">
        <h2>Досвід роботи</h2>
        <div class="content">
            <p>На даний момент комерційного досвіду роботи у мене немає, проте я брав участь у створенні декількох навчальних та командних проєктів, які допомогли мені краще зрозуміти реальні завдання у сфері IT.</p>

            <p>Наприклад, одним із таких проєктів був вебсайт, розроблений із застосуванням Spring у рамках університетського курсу. Крім того, для курсу з вебдизайну я розробив макет та верстку простого сайту, приділяючи увагу адаптивності та зручності використання.</p>

            <p>Також я реалізовував кілька власних невеликих проєктів на Python.</p>

            <p>Незважаючи на відсутність комерційного досвіду, ці проєкти допомогли мені розвинути навички командної роботи, вивчити основи повного циклу розробки додатків та впевнено орієнтуватися в технологіях, які мене цікавлять.</p>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}
